registry=https://centraluhg.jfrog.io/artifactory/api/npm/gpd-npm-vir/
# Package deploy registry
//repo1.uhc.com/artifactory/api/npm/npm-local/:_auth=${OPTUM_ARTIFACTORY_CREDENTIALS_AUTH_TOKEN}
//repo1.uhc.com/artifactory/api/npm/npm-local/:always-auth=true
//repo1.uhc.com/artifactory/api/npm/npm-local/:email=${OPTUM_ARTIFACTORY_CREDENTIALS_EMAIL}
@optum-gpd:registry=https://centraluhg.jfrog.io/artifactory/api/npm/gpd-npm-vir/
strict-ssl=false